<div class="container">

			<div class="search-error text-center">

				<h2 class="font-bold">4<span class="position-relative theme-dark-clr">0</span>4</h2>

				<h3 class="font-bold">Oops! Página não encontrada</h3>

				<p class="w-40 m-auto">A página que você procura não existe ou foi movida.</p>

				<div class="d-flex justify-content-center loadmore">

					<a href="/" class="theme-btn">Ir para a Página Inicial</a>

				</div>

			</div>

		</div>